@model EditPlayListViewModel


<div class="container">
    <h4 class="">@Model.PlayLists.First().Movie.Title;</h4>
    <form asp-action="EditTimeSlots" method="post">
        <table>
            <tr>
                <th>Cinema Room</th>
                <th>Date</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            @*            @foreach (var playList in Model.PlayLists)
            {
        <tr>
            <td><input type="text" value=@playList.TimeSlot.Room.Id></td>
            <td><input type="date" asp-for="@playList.TimeSlot.SlotStart.Date" value=@playList.TimeSlot.SlotStart.Date.ToString("yyyy-MM-dd")></td>
            <td><input type="datetime" asp-for="@playList.TimeSlot.SlotStart" value=@playList.TimeSlot.SlotStart.ToString("HH:mm")></td>
            <td><input type="datetime" asp-for="@playList.TimeSlot.SlotEnd" value=@playList.TimeSlot.SlotEnd.ToString("HH:mm")></td>

            <td>
                @Html.ActionLink("Remove",
                                "RemoveTimeSlot",
                                new { TimeSlotId = playList.TimeSlot.Id },
                                new { @class = "btn btn-danger" })
            </td>
        </tr>

            }*@


            @for (var i = 0; i < Model.PlayLists.Count(); i++)
            {
        <tr>
            <input type="hidden" asp-for="PlayLists[i].Id" value="@Model.PlayLists[i].Id" />
            <input type="hidden" asp-for="PlayLists[i].MovieId" value="@Model.PlayLists[i].MovieId" />
            <input type="hidden" asp-for="PlayLists[i].TimeSlot.Id" value="@Model.PlayLists[i].TimeSlot.Id" />
            <td><input type="text" asp-for="PlayLists[i].TimeSlot.Room.Id" value=@Model.PlayLists[i].TimeSlot.Room.Id></td>
            <td><input type="date" asp-for="PlayLists[i].TimeSlot.SlotStart.Date" value=@Model.PlayLists[i].TimeSlot.SlotStart.Date.ToString("yyyy-MM-dd")></td>
            <td><input type="datetime" asp-for="PlayLists[i].TimeSlot.SlotStart" value=@Model.PlayLists[i].TimeSlot.SlotStart.ToString("HH:mm")></td>
            <td><input type="datetime" asp-for="PlayLists[i].TimeSlot.SlotEnd" value=@Model.PlayLists[i].TimeSlot.SlotEnd.ToString("HH:mm")></td>
            <td>
                @Html.ActionLink("Remove",
                                "RemoveTimeSlot",
                                new { TimeSlotId = Model.PlayLists[i].TimeSlot.Id },
                                new { @class = "btn btn-danger" })
            </td>
        </tr>

            }



        </table>
        <input type ="submit" value="Update timeslots"/>
    </form>
</div>